final_grpc_client_server/custom_model/dataset
final_grpc_client_server/custom_model/runs/detect/train3/weights
final_grpc_client_server/custom_model/yolo11n.pt
final_grpc_client_server/custom_model/yolo11s.pt
final_grpc_client_server/server/server/yolo11n.pt
final_grpc_client_server/server/yolo11n.pt
final_grpc_client_server/server/best.pt
streaming_server/yolo11n.pt